pickled_dict
*.o
*.hi
*~
*.ppm
*.pov
Setup
README.markdown
LICENSE
pre.tex
*.aux
*.log
*.snm
*.toc
*.vrb
*.nav
*.pfd
.directory
pre.pdf
thesis.pdf
initial.pdf
TestThesis/clb.bbl
Thesis/clb.blg
Thesis/clb.out
Thesis/clb.pdf
Thesis/thesis.bbl
Thesis/thesis.blg
Thesis/thesis.tex
Thesis/thesisCOpy.mdFile
raytracer/-fprof-auto
raytracer/.stack-work/
raytracer/raytracer-exe.prof
raytracer/test.jpg
raytracer/test.png
Thesis/clb.bbl
